<h1>Listing replays</h1>

<table>
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Text</th>
  </tr>

<% @replays.each do |replay| %>
  <tr>
    <td><%=h replay.filename %></td>
    <td><%=h replay.size %></td>
    <td><%=h replay.text %></td>
    <td><%= link_to 'Show', replay %></td>
    <td><%= link_to 'Edit', edit_replay_path(replay) %></td>
    <td><%= link_to 'Destroy', replay, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New replay', new_replay_path %>