<h1>New replay</h1>

<% form_for(@replay) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :xml %><br />
    <%= f.text_field :xml %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', replays_path %>
